@(rouletteLists: service.RouletteDate, rouletteListForm: Form[Int], playGameId: Long)

@import helper._
@import service.RouletteService

@main("roulette list") {
<div class="row">
    <div class="span3 bs-sidebar " role="complementary">

        <span class="label label-important">please input roulette number!</span>
        @form(routes.RouletteListController.create(playGameId)) {
        @inputText(rouletteListForm("rouletteNumber"))
        <input type="submit" class="btn btn-inverse" value="create"/>
        }
    </div>
    <div class="span9" role="main">

        <table class="table table-striped">
            <thead>
                <tr align="center">
                    <th width="10%" align="center" colspan="2">probability</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.colorProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.highLowProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.OddEvenProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.columnAProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.columnBProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.columnCProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.dozenLowProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.dozenMiddleProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.dozenHighProbability%</th>
                    <th width="8%" align="center">@rouletteLists.probabilityValue.dozenMiddleAndHighProbability%</th>
                </tr>
                <tr align="center">
                    <th width="10%" align="center" colspan="2">success count</th>
                    <th width="8%" align="center">@rouletteLists.countValue.colorCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.highLowCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.OddEvenCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.columnACount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.columnBCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.columnCCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.dozenLowCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.dozenMiddleCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.dozenHighCount</th>
                    <th width="8%" align="center">@rouletteLists.countValue.dozenMiddleAndHighCount</th>
                </tr>
                <tr align="center">
                    <th width="10%" align="center">Game<br>Count</th>
                    <th width="10%" align="center">Number</th>
                    <th width="8%" align="center">color</th>
                    <th width="8%" align="center">HI</th>
                    <th width="8%" align="center">ODD</th>
                    <th width="8%" align="center">A</th>
                    <th width="8%" align="center">B</th>
                    <th width="8%" align="center">C</th>
                    <th width="8%" align="center">1-12</th>
                    <th width="8%" align="center">13-24</th>
                    <th width="8%" align="center">25-36</th>
                    <th width="8%" align="center">13-24<br>25-36</th>
                </tr>
            </thead>
            @rouletteLists.rouletteWithNumber.map { rouletteList =>
            <tr>
                <td align="right">@rouletteList.roulette.gameConut</td>
                <td >@rouletteList.roulette.rouletteNumber</td>
                <td align="center">@if(rouletteList.numberList.color == 1) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.highLow == 1) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.oddEven == 1) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.columnBet == 0) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.columnBet == 1) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.columnBet == 2) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.dozenBet == 0) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.dozenBet == 1) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.dozenBet == 2) { ○ }</td>
                <td align="center">@if(rouletteList.numberList.dozenBet == 1 || rouletteList.numberList.dozenBet == 2) { ○ }</td>
            </tr>
            }
        </table>
    </div>
</div>

}